@import '../../../styles/mixins';
@import '../../../styles/style-variables';
@import '../../../styles/placeholders';

.title{
  @include font($size: 3rem, $weight:600);
  text-align: center;
}
.addingProduct{
  display: flex;
  justify-content: space-between;
}
.mealHistory{
  padding-right: 60px;
  border-right: $additional-color 4px solid;
  flex-basis: 50%;
  overflow: auto;
  height: 500px;
  p{
    @include font($size:2.2rem, $weight:600)
  }
}
.searchingProduct{
  overflow: auto;
  height: 450px;
  padding-left: 60px;
  flex-basis: 50%;
  p{
    @include font(2.2rem)
  }
}
.searchBar{
  display: flex;
  background-color: $additional-color;
  border-radius: 27px;
  padding: 9px;
  input{
    border: none;
    background-color: transparent;
    flex-grow: 1;
    @include font(2.2rem);
    &:focus{
      outline: none;
    }
  }
  img{
    width: 30px;
  }
  button{
    background-color: transparent;
    padding: 11px 30px;
    border-left: $main-color 4px solid;
    border-radius: 0;
    color: $main-color;
    @include font($size: 2.2rem, $weight:500);
  }
}
.searchedProduct, .consumedProduct{
  display: flex;
  justify-content: space-between;
  border-bottom: $additional-color 4px solid;
  gap: 15px;
}
.searchingForm{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-self: end;
  p{
    display: inline-block;
    padding-left: 10px;
  }
}
.consumedProduct{
  img{
    width: 20px;
  }
}
.name{
  flex-grow: 1;
}
.foodInfo {
  padding-right: 60px;
  border-right: $additional-color 4px solid;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  input{
    border: none;
    border-radius: 26px;
    width: 50px;
    @include font(2.2rem);
    &:focus{
      outline: none;
    }
  }

}
.productName{
  @include font($size: 2.6rem, $weight: 600);
}