@import '../../../styles/style-variables';
@import '../../../styles/mixins';

.wrapper{
  display: flex;
  gap: 44px;
  margin-top: 67px;
}
.addingBlock{
  background-color: $background-color;
  border-radius: 33px;
  padding: 127px 110px;
  display: flex;
  gap: 15px;
}
.addingArticle{
  background: url(../../../assets/promoImage.svg) no-repeat;
  background-position: right center;
  padding: 30px 10px;
  p{
    margin-bottom: 60px;
    text-align: center;
    @include font($size: 3rem, $weight: 600);
  }
}
form{
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  input{
    margin: 0;
  }
}
.successMessage{
  text-align: center;
  @include font($size: 5rem, $weight: 600);
}
.successImage{
  display: block;
  width: 200px;
  margin: 150px auto;
}