@import '../../styles/mixins';
@import '../../styles/style-variables';
@import '../../styles/placeholders';

.coloring{
  background-color: $additional-color;
  .wrapper {
    @extend %alignment;
  }
  padding-bottom: 63px;
}
.trackersWrapper{
  display: flex;
  gap: 30px
}