$main-color: #198B43;
$additional-color: #ffffff;
$light-text-color: #ffffff;
$dark-text-color: #000000;
$highlighting-color: #FF9A9B;
$additional-highlighting-color: #FEFB53;
$border-color: #777777;
$input-background-color: #F7F7F5;
$conditions-color:#6C6C6C;
$error-color: #c44141;
$background-color: #E6F2EA;

$content-width: 1315px;
