@import '../../styles/style-variables';
@import '../../styles/mixins';


.link{
  display:inline;
  list-style: none;
  padding: 0 59px;
  cursor: pointer;
  .linkButton{
    display: inline-block;
    text-decoration: none;
    color: $light-text-color;
    @include font(20px, 26px, 500);
  }
}