@import '../../styles/style-variables';
@import '../../styles/mixins';


.link{
  display:inline;
  list-style: none;
  padding: 0 59px;
  cursor: pointer;
  .inactiveLinkButton{
    display: inline-block;
    text-decoration: none;
    color: $light-text-color;
    @include font(2rem, 2.6rem, 500);
  }
  .activeLinkButton{
    display: inline-block;
    text-decoration: none;
    color:$additional-highlighting-color;
    @include font(2rem, 2.6rem, 500);
  }
}

