@import '../../styles/style-variables';
@import '../../styles/mixins';
@import '../../styles/placeholders';

.coloring{
  background-color: $additional-color;
  .wrapper {
    @extend %alignment;
    margin-top: 150px;
  }
}
.title{
  @include font($size: 3.6rem, $weight: 600);
  margin-bottom: 60px;
}
.articles{
  display: flex;
  justify-content: space-between;
}