@import '../../styles/style-variables';
@import '../../styles/placeholders';

.coloring{
  background-color: $main-color;
  .wrapper{
    @extend %alignment;
    padding: 25px 57px;
    display: flex;
    justify-content: space-between;
  }
}





