@import '../../../styles/style-variables';
@import '../../../styles/mixins';

.title{
  @include font($size: 3rem, $weight: 600);

}
.usersCount{
  display: flex;
  justify-content: space-between;
}
.usersCountBlock{
  display: flex;
  gap: 20px;
  margin: auto;
  justify-content: center;
}
.usersTable{
  margin-top: 30px;
}