@import "../../../../../styles/mixins";
@import "../../../../../styles/placeholders";
@import "../../../../../styles/style-variables";

.wrapper{
  padding: 31px;
  background-color: $background-recipes-color;
  border-radius: 26px;
  margin-top: 30px;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}
.images{
  display: flex;
  gap: 21px
}

p{
  @include font($size: 2.2rem, $weight:500);
}
.title{
  @include font($size: 3rem, $weight:600);
  text-align: center;
}

.addingButton{
  background-color: $additional-color;
  border-radius: 50%;
  padding: 10px;
  height: fit-content;
}
.recipeHighlight{
  background-color: $additional-color;
  border-radius: 27px;
  display: flex;
  justify-content: space-between;
  gap: 33px;
  p{
    flex-grow: 1;
    @include font($size: 2.4rem, $weight:600);
  }
  input{
    margin: 25px;
    width: 16px;
  }
}
.recipesModal{
  display: flex;
  justify-content: space-between;
}
.favouriteRecipes{
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  gap: 11px;
  padding-right: 57px;
  border-right: $additional-color 5px solid;
}
.shopListBlock{
  flex-basis: 50%;
  padding-left: 57px;
  display: flex;
  flex-direction: column;
  button{
    background-color: $additional-color;
    color: $additional-text-color;
    border-radius: 27px;
    margin: auto;
    margin-top: 30px;
  }
}
.fullRecipe{
  display: flex;
  justify-content: space-between;
  .title{
    @include font($size: 3rem, $weight:600);
  }
  button{
    background-color: $additional-color;
    color: $additional-text-color;
    border-radius: 27px;
  }
}
.subtitle{
  @include font(2.8rem);
  text-align: center;
}
.ingredients{
  flex-basis: 50%;
  padding-right: 57px;
  border-right: $additional-color 5px solid;
}
.ingredient{
  @include font(2.6rem);
  display: flex;
  justify-content: space-between;

}
.instruction{
  padding-left: 57px;
  flex-basis: 50%;
  margin-top: 60px;
}
.shopList{
  overflow: auto;
}
.shopListItem{
  display: flex;
  justify-content: space-between;
}