@import 'styles/style-variables';
@import 'styles/mixins';
html{
  font-size: 10px;
}

button{
  background-color: $main-color;
  border: none;
  border-radius: 12px;
  color: $light-text-color;
  padding: 17px 63px;
  @include font($size: 2rem,$weight: 600);
}

input{
  border-radius: 10px;
  border: 1px solid $border-color;
  background: $input-background-color;
  @include font(1.6rem);
  padding: 27px 33px;
}