@use 'scss-reset/reset';
@import "styles/placeholders";

body {
  margin: 0;
  @extend %font-primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
